@using TAApplication.Areas.Data
@using TAApplication.Data
@using Microsoft.AspNetCore.Identity

@inject ApplicationDbContext db
@inject UserManager<TAUser> um
@model IEnumerable<TAApplication.Models.Slot>

@{
    ViewData["Title"] = "Index";
    TAUser user = await um.GetUserAsync(User);
}

<h1>Availability for @user.Name </h1>
<p>
    Please indicate all times that you <b>will be</b> available during the week.  This information is used by
    the hiring committee and professors to determine class coverage, lab coverage, office hour coverage, etc.
    (Note: Any work necessary on the weekends will be up to you and your professor to negotiate.)
</p>
<p>
    If your schedule changes, please come back and update this record.
</p>
<div id="canvas_div">
</div>
<button id="save" class="btn btn-primary" onclick="save()">Save</button>
<span id="changes" class="text-danger"></span>

<script type="text/javascript">

    var changed = false;
    let bg_color = 0x000000;
    let rect_color = 0x6FA8DC;
    let width = 800;
    let height = 600;
    const map1 = new Map();
    var times = [];
    var color = 0xFFF2CC;
    var globalColor = null;
    var mouse_down = false;
    app = new PIXI.Application(width, height, { backgroundColor: bg_color });
    const style = new PIXI.TextStyle({
        fontFamily: 'Arial',
        fontSize: 20,
        fill: ['white']   
    });

    const style2 = new PIXI.TextStyle({
        fontFamily: 'Arial',
        fontSize: 12,
        fill: ['white']
    });
    const monday = new PIXI.Text('Monday', style);
    monday.x = 65;
    monday.y = 20;
    const tuesday = new PIXI.Text('Tuesday', style);
    tuesday.x = 65 + 130;
    tuesday.y = 20;
    const wednesday = new PIXI.Text('Wednesday', style);
    wednesday.x = 50 + 130 * 2;
    wednesday.y = 20;
    const thursday = new PIXI.Text('Thursday', style);
    thursday.x = 55 + 130 * 3;
    thursday.y = 20;
    const friday = new PIXI.Text('Friday', style);
    friday.x = 65 + 130 * 4;
    friday.y = 20;
    const instruction =  new PIXI.Text('Click and drag to set/un-set available times.', style2);
    instruction.x = 50;
    instruction.y = 550;
    var square = new PIXI.Graphics();
    square.beginFill(color);
    square.drawRect(0, 0, 110, 10);
    square.x = 310;
    square.y = 550;
    const available = new PIXI.Text('Available', style);
    available.x = 325;
    available.y = 565;
    var square2 = new PIXI.Graphics();
    square2.beginFill(rect_color);
    square2.drawRect(0, 0, 110, 10);
    square2.x = 520;
    square2.y = 550;
    const NotAvailable = new PIXI.Text('Not Available', style);
    NotAvailable.x = 520;
    NotAvailable.y = 565;
    $("#canvas_div").append(app.view);
    app.stage.addChild(monday);
    app.stage.addChild(tuesday);
    app.stage.addChild(wednesday);
    app.stage.addChild(thursday);
    app.stage.addChild(friday);
    app.stage.addChild(instruction);
    app.stage.addChild(square);
    app.stage.addChild(available);
    app.stage.addChild(NotAvailable);
    app.stage.addChild(square2);
    build_square();
    generate_time();
    var squares = [];
    var slots = {
         Unid : "@user.Unid"
        }
    var scheduleList = "";
    $.ajax({
        type: "post",
        url: "/Slots/GetSchedule",
        data: slots,
        content: "application/json;",
        dataType: "json",
        success: function (data) {
            for(let i = 0; i < data.length; i++){
                var square = new PIXI.Graphics();
                square.beginFill(color);
                square.drawRect(0, 0, 110, 10);
                square.x = data[i][0];
                square.y = data[i][1];
                square.interactive = true;
                square.color = color;
                square.on('mousedown', pointer_down);
                square.on('mouseover', pointer_over);
                square.on('mouseup', pointer_up);
                console.log(data[i][0]);
                console.log(data[i][1]);
                app.stage.addChild(square);
                scheduleList += data[i][0] +" "+ data[i][1] + "#";
            }
            console.log(data);
        }
    });   
    line();

    function build_square() {
        for(let j = 0; j < 5; j++){
            for (let i = 0; i < 48; i++) {
                var square = new PIXI.Graphics();
                square.beginFill(rect_color);
                square.drawRect(0, 0, 110, 10);
                square.x = 50 + 130 * j;
                square.y = 50 + 10 * i;
                square.interactive = true;
                square.color = rect_color;
                square.on('mousedown', pointer_down);
                square.on('mouseover', pointer_over);
                square.on('mouseup', pointer_up);
                app.stage.addChild(square);
                if(j == 0){
                var time = "Monday ";
                    if (i / 4 <= 1) {
                        if (i == 0) {
                            time = time + "8:0" + (15 * (i)).toString() + "am";
                        } else if (i == 4) {
                            time = time + "9:00" + "am";
                        }
                        else {
                            time = time + "8:" + (15 * i).toString() + " am";
                        }
                    }
                    else if (i / 4 <= 2 && i / 4 > 1) {
                        if (i / 4 == 2) {
                            time = time + "10:00" + "am";
                        } else {
                            time = time + "9:" + (15 * (i % 4)).toString() + "am";
                        }
                    }
                    else if (i / 4 <= 3 && i / 4 > 2) {
                        if (i / 4 == 3) {
                            time = time + "11:00" + "am";
                        } else {
                            time = time + "10:" + (15 * (i % 4)).toString() + "am";
                        }
                    }
                    else if (i / 4 <= 4 && i / 4 > 3) {
                        if (i / 4 == 4) {
                            time = time + "12:00" + "pm";
                        }
                        else {
                            time = time + "11:" + (15 * (i % 4)).toString() + "am";
                        }
                    }
                    else if (i / 4 <= 5 && i / 4 > 4) {
                        if (i / 4 == 5) {
                            time = time + "1:00" + "pm";
                        }
                        else {
                            time = time + "12:" + (15 * (i % 4)).toString() + "pm";
                        }

                    }
                    else if (i / 4 <= 6 && i / 4 > 5) {
                        if (i / 4 == 6) {
                            time = time + "2:00" + "pm";
                        }
                        else {
                            time = time + "1:" + (15 * (i % 4)).toString() + "pm";
                        }
                    }
                    else if (i / 4 <= 7 && i / 4 > 6) {
                        if (i / 4 == 7) {
                            time = time + "3:00" + "pm";
                        }
                        else {
                            time = time + "2:" + (15 * (i % 4)).toString() + "pm";
                        }
                    }
                    else if (i / 4 <= 8 && i / 4 > 7) {
                        if (i / 4 == 8) {
                            time = time + "4:00" + "pm";
                        }
                        else {
                            time = time + "3:" + (15 * (i % 4)).toString() + "pm";
                        }
                    }
                    else if (i / 4 <= 9 && i / 4 > 8) {
                        if (i / 4 == 9) {
                            time = time + "5:00" + "pm";
                        }
                        else {
                            time = time + "4:" + (15 * (i % 4)).toString() + "pm";
                        }
                    }
                    else if (i / 4 <= 10 && i / 4 > 9) {
                        if (i / 4 == 10) {
                            time = time + "6:00" + "pm";
                        }
                        else {
                            time = time + "5:" + (15 * (i % 4)).toString() + "pm";
                        }
                    }
                    else if (i / 4 <= 11 && i / 4 > 10) {
                        if (i / 4 == 11) {
                            time = time + "7:00" + "pm";
                        }
                        else {
                            time = time + "6:" + (15 * (i % 4)).toString() + "pm";
                        }
                    }
                    else if (i / 4 <= 12 && i / 4 > 11) {
                        if (i / 4 == 12) {
                            time = time + "8:00" + "pm";
                        }
                        else {
                            time = time + "7:" + (15 * (i % 4)).toString() + "pm";
                        }
                    }
                    square.schedule = time;
                }
                else if (j == 1) {
                    var time = "Tuesday ";

                    if (i / 4 <= 1) {
                        if (i == 0) {
                            time = time + "8:0" + (15 * (i)).toString() + "am";
                        } else if (i == 4) {
                            time = time + "9:00" + "am";
                        }
                        else {
                            time = time + "8:" + (15 * i).toString() + " am";
                        }
                    }
                    else if (i / 4 <= 2 && i / 4 > 1) {
                        if (i / 4 == 2) {
                            time = time + "10:00" + "am";
                        }else{
                             time = time + "9:" + (15 * (i % 4)).toString() + "am";
                        }
                    }
                    else if (i / 4 <= 3 && i / 4 > 2) {
                        if (i / 4 == 3) {
                            time = time + "11:00" + "am";
                        }else{
                        time = time + "10:" + (15 * (i % 4)).toString() + "am";
                        }
                    }
                    else if (i / 4 <= 4 && i / 4 > 3) {
                        if (i / 4 == 4) {
                            time = time + "12:00" + "pm";
                        }
                        else{
                        time = time + "11:" + (15 * (i % 4)).toString() + "am";
                        }
                    }
                    else if (i / 4 <= 5 && i / 4 > 4) {
                        if (i / 4 == 5) {
                            time = time + "1:00" + "pm";
                        }
                        else{
                        time = time + "12:" + (15 * (i % 4)).toString() + "pm";
                        }
                        
                    }
                    else if (i / 4 <= 6 && i / 4 > 5) {
                        if (i / 4 == 6) {
                            time = time + "2:00" + "pm";
                        }
                         else{
                        time = time + "1:" + (15 * (i % 4)).toString() + "pm";
                        }
                    }
                    else if (i / 4 <= 7 && i / 4 > 6) {
                        if (i / 4 == 7) {
                            time = time + "3:00" + "pm";
                        }
                         else{
                        time = time + "2:" + (15 * (i % 4)).toString() + "pm";
                        }
                    }
                    else if (i / 4 <= 8 && i / 4 > 7) {
                        if (i / 4 == 8) {
                            time = time + "4:00" + "pm";
                        }
                         else{
                        time = time + "3:" + (15 * (i % 4)).toString() + "pm";
                        }
                    }
                    else if (i / 4 <= 9 && i / 4 > 8) {
                        if (i / 4 == 9) {
                            time = time + "5:00" + "pm";
                        }
                         else{
                        time = time + "4:" + (15 * (i % 4)).toString() + "pm";
                        }
                    }
                    else if (i / 4 <= 10 && i / 4 > 9) {
                        if (i / 4 == 10) {
                            time = time + "6:00" + "pm";
                        }
                         else{
                        time = time + "5:" + (15 * (i % 4)).toString() + "pm";
                        }
                    }
                    else if (i / 4 <= 11 && i / 4 > 10) {
                        if (i / 4 == 11) {
                            time = time + "7:00" + "pm";
                        }
                        else{
                        time = time + "6:" + (15 * (i % 4)).toString() + "pm";
                        }
                    }
                    else if (i / 4 <= 12 && i / 4 > 11) {
                        if (i / 4 == 12) {
                            time = time + "8:00" + "pm";
                        }
                         else{
                        time = time + "7:" + (15 * (i % 4)).toString() + "pm";
                        }
                    }
                    square.schedule = time;
                }
                else if (j == 2) {
                    var time = "Wednesday ";

                    if (i / 4 <= 1) {
                        if (i == 0) {
                            time = time + "8:0" + (15 * (i)).toString() + "am";
                        } else if (i == 4) {
                            time = time + "9:00" + "am";
                        }
                        else {
                            time = time + "8:" + (15 * i).toString() + " am";
                        }
                    }
                    else if (i / 4 <= 2 && i / 4 > 1) {
                        if (i / 4 == 2) {
                            time = time + "10:00" + "am";
                        } else {
                            time = time + "9:" + (15 * (i % 4)).toString() + "am";
                        }
                    }
                    else if (i / 4 <= 3 && i / 4 > 2) {
                        if (i / 4 == 3) {
                            time = time + "11:00" + "am";
                        } else {
                            time = time + "10:" + (15 * (i % 4)).toString() + "am";
                        }
                    }
                    else if (i / 4 <= 4 && i / 4 > 3) {
                        if (i / 4 == 4) {
                            time = time + "12:00" + "pm";
                        }
                        else {
                            time = time + "11:" + (15 * (i % 4)).toString() + "am";
                        }
                    }
                    else if (i / 4 <= 5 && i / 4 > 4) {
                        if (i / 4 == 5) {
                            time = time + "1:00" + "pm";
                        }
                        else {
                            time = time + "12:" + (15 * (i % 4)).toString() + "pm";
                        }

                    }
                    else if (i / 4 <= 6 && i / 4 > 5) {
                        if (i / 4 == 6) {
                            time = time + "2:00" + "pm";
                        }
                        else {
                            time = time + "1:" + (15 * (i % 4)).toString() + "pm";
                        }
                    }
                    else if (i / 4 <= 7 && i / 4 > 6) {
                        if (i / 4 == 7) {
                            time = time + "3:00" + "pm";
                        }
                        else {
                            time = time + "2:" + (15 * (i % 4)).toString() + "pm";
                        }
                    }
                    else if (i / 4 <= 8 && i / 4 > 7) {
                        if (i / 4 == 8) {
                            time = time + "4:00" + "pm";
                        }
                        else {
                            time = time + "3:" + (15 * (i % 4)).toString() + "pm";
                        }
                    }
                    else if (i / 4 <= 9 && i / 4 > 8) {
                        if (i / 4 == 9) {
                            time = time + "5:00" + "pm";
                        }
                        else {
                            time = time + "4:" + (15 * (i % 4)).toString() + "pm";
                        }
                    }
                    else if (i / 4 <= 10 && i / 4 > 9) {
                        if (i / 4 == 10) {
                            time = time + "6:00" + "pm";
                        }
                        else {
                            time = time + "5:" + (15 * (i % 4)).toString() + "pm";
                        }
                    }
                    else if (i / 4 <= 11 && i / 4 > 10) {
                        if (i / 4 == 11) {
                            time = time + "7:00" + "pm";
                        }
                        else {
                            time = time + "6:" + (15 * (i % 4)).toString() + "pm";
                        }
                    }
                    else if (i / 4 <= 12 && i / 4 > 11) {
                        if (i / 4 == 12) {
                            time = time + "8:00" + "pm";
                        }
                        else {
                            time = time + "7:" + (15 * (i % 4)).toString() + "pm";
                        }
                    }
                    square.schedule = time;
                }

                else if (j == 3) {
                    var time = "Thursday ";

                    if (i / 4 <= 1) {
                        if (i == 0) {
                            time = time + "8:0" + (15 * (i)).toString() + "am";
                        } else if (i == 4) {
                            time = time + "9:00" + "am";
                        }
                        else {
                            time = time + "8:" + (15 * i).toString() + " am";
                        }
                    }
                    else if (i / 4 <= 2 && i / 4 > 1) {
                        if (i / 4 == 2) {
                            time = time + "10:00" + "am";
                        }else{
                             time = time + "9:" + (15 * (i % 4)).toString() + "am";
                        }
                    }
                    else if (i / 4 <= 3 && i / 4 > 2) {
                        if (i / 4 == 3) {
                            time = time + "11:00" + "am";
                        }else{
                        time = time + "10:" + (15 * (i % 4)).toString() + "am";
                        }
                    }
                    else if (i / 4 <= 4 && i / 4 > 3) {
                        if (i / 4 == 4) {
                            time = time + "12:00" + "pm";
                        }
                        else{
                        time = time + "11:" + (15 * (i % 4)).toString() + "am";
                        }
                    }
                    else if (i / 4 <= 5 && i / 4 > 4) {
                        if (i / 4 == 5) {
                            time = time + "1:00" + "pm";
                        }
                        else{
                        time = time + "12:" + (15 * (i % 4)).toString() + "pm";
                        }
                        
                    }
                    else if (i / 4 <= 6 && i / 4 > 5) {
                        if (i / 4 == 6) {
                            time = time + "2:00" + "pm";
                        }
                         else{
                        time = time + "1:" + (15 * (i % 4)).toString() + "pm";
                        }
                    }
                    else if (i / 4 <= 7 && i / 4 > 6) {
                        if (i / 4 == 7) {
                            time = time + "3:00" + "pm";
                        }
                         else{
                        time = time + "2:" + (15 * (i % 4)).toString() + "pm";
                        }
                    }
                    else if (i / 4 <= 8 && i / 4 > 7) {
                        if (i / 4 == 8) {
                            time = time + "4:00" + "pm";
                        }
                         else{
                        time = time + "3:" + (15 * (i % 4)).toString() + "pm";
                        }
                    }
                    else if (i / 4 <= 9 && i / 4 > 8) {
                        if (i / 4 == 9) {
                            time = time + "5:00" + "pm";
                        }
                         else{
                        time = time + "4:" + (15 * (i % 4)).toString() + "pm";
                        }
                    }
                    else if (i / 4 <= 10 && i / 4 > 9) {
                        if (i / 4 == 10) {
                            time = time + "6:00" + "pm";
                        }
                         else{
                        time = time + "5:" + (15 * (i % 4)).toString() + "pm";
                        }
                    }
                    else if (i / 4 <= 11 && i / 4 > 10) {
                        if (i / 4 == 11) {
                            time = time + "7:00" + "pm";
                        }
                        else{
                        time = time + "6:" + (15 * (i % 4)).toString() + "pm";
                        }
                    }
                    else if (i / 4 <= 12 && i / 4 > 11) {
                        if (i / 4 == 12) {
                            time = time + "8:00" + "pm";
                        }
                         else{
                        time = time + "7:" + (15 * (i % 4)).toString() + "pm";
                        }
                    }
                    square.schedule = time;
                }

                else if(j == 4){
                var time = "Friday ";
       
                                   if (i / 4 <= 1) {
                        if (i == 0) {
                            time = time + "8:0" + (15 * (i)).toString() + "am";
                        } else if (i == 4) {
                            time = time + "9:00" + "am";
                        }
                        else {
                            time = time + "8:" + (15 * i).toString() + " am";
                        }
                    }
                    else if (i / 4 <= 2 && i / 4 > 1) {
                        if (i / 4 == 2) {
                            time = time + "10:00" + "am";
                        }else{
                             time = time + "9:" + (15 * (i % 4)).toString() + "am";
                        }
                    }
                    else if (i / 4 <= 3 && i / 4 > 2) {
                        if (i / 4 == 3) {
                            time = time + "11:00" + "am";
                        }else{
                        time = time + "10:" + (15 * (i % 4)).toString() + "am";
                        }
                    }
                    else if (i / 4 <= 4 && i / 4 > 3) {
                        if (i / 4 == 4) {
                            time = time + "12:00" + "pm";
                        }
                        else{
                        time = time + "11:" + (15 * (i % 4)).toString() + "am";
                        }
                    }
                    else if (i / 4 <= 5 && i / 4 > 4) {
                        if (i / 4 == 5) {
                            time = time + "1:00" + "pm";
                        }
                        else{
                        time = time + "12:" + (15 * (i % 4)).toString() + "pm";
                        }
                        
                    }
                    else if (i / 4 <= 6 && i / 4 > 5) {
                        if (i / 4 == 6) {
                            time = time + "2:00" + "pm";
                        }
                         else{
                        time = time + "1:" + (15 * (i % 4)).toString() + "pm";
                        }
                    }
                    else if (i / 4 <= 7 && i / 4 > 6) {
                        if (i / 4 == 7) {
                            time = time + "3:00" + "pm";
                        }
                         else{
                        time = time + "2:" + (15 * (i % 4)).toString() + "pm";
                        }
                    }
                    else if (i / 4 <= 8 && i / 4 > 7) {
                        if (i / 4 == 8) {
                            time = time + "4:00" + "pm";
                        }
                         else{
                        time = time + "3:" + (15 * (i % 4)).toString() + "pm";
                        }
                    }
                    else if (i / 4 <= 9 && i / 4 > 8) {
                        if (i / 4 == 9) {
                            time = time + "5:00" + "pm";
                        }
                         else{
                        time = time + "4:" + (15 * (i % 4)).toString() + "pm";
                        }
                    }
                    else if (i / 4 <= 10 && i / 4 > 9) {
                        if (i / 4 == 10) {
                            time = time + "6:00" + "pm";
                        }
                         else{
                        time = time + "5:" + (15 * (i % 4)).toString() + "pm";
                        }
                    }
                    else if (i / 4 <= 11 && i / 4 > 10) {
                        if (i / 4 == 11) {
                            time = time + "7:00" + "pm";
                        }
                        else{
                        time = time + "6:" + (15 * (i % 4)).toString() + "pm";
                        }
                    }
                    else if (i / 4 <= 12 && i / 4 > 11) {
                        if (i / 4 == 12) {
                            time = time + "8:00" + "pm";
                        }
                         else{
                        time = time + "7:" + (15 * (i % 4)).toString() + "pm";
                        }
                    }
                    square.schedule = time;
                }
            }
        
        }
       
    }

    function line(){
        for(let i = 0; i <=12; i++) {
            var line = new PIXI.Graphics();
            line.lineStyle(1, 0xFFFFFF);
            line.moveTo(0, i*40);
            line.lineTo(680, i * 40);
            line.position.x = 20;
            line.position.y = 50;
            app.stage.addChild(line);
        }
    }

    function generate_time(){
        for(let i = 0; i <= 4; i++){
            if (i == 4) {
                var t = (8 + i).toString() + ":00 pm";
                var time = new PIXI.Text(t, style);
                time.x = 712;
                time.y = 40 + 40 * i;
                app.stage.addChild(time);
            }else{
            var t = (8+i).toString() + ":00 am";
            var time = new PIXI.Text(t, style);
            time.x = 712;
            time.y = 40 + 40*i;
            app.stage.addChild(time);
            }          
        }
        for (let i = 0; i <= 7; i++) {
            var t = (1 + i).toString() + ":00 pm";
            var time = new PIXI.Text(t, style);
            time.x = 712;
            time.y = 240 + 40 * i;
            app.stage.addChild(time);
        }
    }

    function pointer_down() {
        var time = [this.x, this.y];
        if (this.color == rect_color){
            this.beginFill(color);
            this.drawRect(0, 0, 110, 10);
            this.color = color;
            globalColor = color;
            times.push(this);

        } else {
            this.beginFill(rect_color);
            this.drawRect(0, 0, 110, 10);
            this.color = rect_color;
            globalColor = rect_color;
            console.log(times.indexOf(this));
            if (times.indexOf(this) >= 0) {
                times.splice(times.indexOf(this));
            }
        }
        mouse_down = true;
        changed = true;
        document.getElementById('changes').innerHTML = 'Warning: Data Not Saved';
        line();
    }
    function pointer_up() {
        mouse_down = false;
        line();
    }

    function pointer_over() {
        if (mouse_down) {
                this.beginFill(globalColor);
                this.drawRect(0, 0, 110, 10);
                this.color = globalColor;
                changed = true;
                document.getElementById('changes').innerHTML = 'Warning: Data Not Saved';
            if (this.color == rect_color) {
                if (times.indexOf(this) >= 0) {
                    times.splice(times.indexOf(this));
                }
            }else if(this.color == color){
                times.push(this);
            }
        }
        line();
    }
    function save(){
        if (changed){
            document.getElementById('changes').innerHTML = '';
        }
        var postData = scheduleList;
        var schedules = [];
        var s = "";
        for(let i = 0; i < times.length; i++){
            postData += times[i].x + " " + times[i].y + "#";
            schedules.push(times[i].schedule)
            s += times[i].schedule + " "; 
        }
        let unid = "@user.Unid";
        var slots = {
                Unid : unid,
                time : s,
                IsActive : true,
                timeArray: postData
        }
        $.ajax({
            type: "post",
            url: "/Slots/SetSchedule",
            data: slots,
            content: "application/json;",
            dataType: "json",
            success: function (data) {
              console.log("Success");
            }
        });
        console.log(s);
    }
</script>