<!--
  Author:    Xia Li
  Partner:   Wenlin Li
<<<<<<< Updated upstream
  Date:      09/27/2022
=======
  Date:      10/17/2022
>>>>>>> Stashed changes
  Course:    CS 4540, University of Utah, School of Computing
  Copyright: CS 4540 and Xia Li and Wenlin Li - This work may not be copied for use in Academic Coursework.

  I, Wenlin Li and Xia Li, certify that I wrote this code from scratch and did not copy it in part or whole from
  another source.  Any references used in the completion of the assignment are cited in my README file.


  This html file is the Home page that edit the elements.
-->

@model TAApplication.Models.Application

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Application</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="Pursuing" class="control-label"></label>
                <select asp-for="Pursuing" asp-items="@Html.GetEnumSelectList<Pursuing>()"
                        class="form-control"></select>
                <span asp-validation-for="Pursuing" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GPA" class="control-label"></label>
                <input asp-for="GPA" class="form-control" />
                <span asp-validation-for="GPA" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Department" class="control-label"></label>
                <input asp-for="Department" class="form-control" />
                <span asp-validation-for="Department" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="numberOfHour" class="control-label"></label>
                <input asp-for="numberOfHour" class="form-control" />
                <span asp-validation-for="numberOfHour" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="avaiableBefore" /> @Html.DisplayNameFor(model => model.avaiableBefore)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="SemestersCount" class="control-label"></label>
                <input asp-for="SemestersCount" class="form-control" />
                <span asp-validation-for="SemestersCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PersonalStatement" class="control-label"></label>
                <input asp-for="PersonalStatement" class="form-control" />
                <span asp-validation-for="PersonalStatement" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TransferSchool" class="control-label"></label>
                <input asp-for="TransferSchool" class="form-control" />
                <span asp-validation-for="TransferSchool" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LinkedinURL" class="control-label"></label>
                <input asp-for="LinkedinURL" class="form-control" />
                <span asp-validation-for="LinkedinURL" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="resumeURL" class="control-label"></label>
                <div class="custom-file">
                    <input asp-for="resumeURL" id="resume" class="form-control custom-file-input" accept=".pdf" />
                    <label class="custom-file-label"></label>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="photoURL" class="control-label"></label>
                <div class="custom-file">
                    <input asp-for="photoURL" class="form-control custom-file-input" accept="image/*" />
                    <label class="custom-file-label"></label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(document).ready(function () {
            $('.custom-file-input').on("change", function ()){
                var filename = $(this).val().split("\\").pop();
                $(this).next('.custom-file-label').html(filename);
            }
        });
    </script>
}
