<!--
  Author:    Xia Li
  Partner:   Wenlin Li
<<<<<<< Updated upstream
  Date:      09/27/2022
=======
  Date:      10/17/2022
>>>>>>> Stashed changes
  Course:    CS 4540, University of Utah, School of Computing
  Copyright: CS 4540 and Xia Li and Wenlin Li - This work may not be copied for use in Academic Coursework.

  I, Wenlin Li and Xia Li, certify that I wrote this code from scratch and did not copy it in part or whole from
  another source.  Any references used in the completion of the assignment are cited in my README file.


  This html file is the Home page that shows the index.
-->
@model IEnumerable<TAApplication.Models.Application>

@{
    ViewData["Title"] = "Index";
    var number = 0;
    float totalGPA = 0;
    float averageGPA = 0;
}

@foreach (var item in Model)
{
    number += 1;
    totalGPA += item.GPA;
    averageGPA = totalGPA / (float)number;
}
<p>Total number of applications is @number</p>
<p>Average GPA is @averageGPA</p>
<p><a asp-action="List">List</a></p>

