@model IEnumerable<TAApplication.Models.Application>

@{
    ViewData["Title"] = "Index";
    var number = 0;
    float totalGPA = 0;
    float averageGPA = 0;
}

@foreach (var item in Model)
{
    number += 1;
    totalGPA += item.GPA;
    averageGPA = totalGPA / (float)number;
}
<p>Total number of applications is @number</p>
<p>Average GPA is @averageGPA</p>
<p><a asp-action="List">List</a></p>

