<!--
  Author:    Xia Li
  Partner:   Wenlin Li
  Date:      09/22/2022
  Course:    CS 4540, University of Utah, School of Computing
  Copyright: CS 4540 and Xia Li and Wenlin Li - This work may not be copied for use in Academic Coursework.

  I, Wenlin Li and Xia Li, certify that I wrote this code from scratch and did not copy it in part or whole from
  another source.  Any references used in the completion of the assignment are cited in my README file.


  This html file only control the Applicationlist pages elements, there are navbar linked to all other pages, a table and some text, pictures.
-->

<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
          crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    <link rel="icon" href="Favicon.ico" type="image/x-icon">
    <link href="ApplicationList.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="site.css" />
    <style type="text/css">
        tr {
            text-align: center;
        }
    </style>
</head>
<body>
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-window-stack" viewBox="0 0 16 16">
        <symbol id="home" viewBox="0 0 16 16">
            <path d="M4.5 6a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1ZM6 6a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1Zm2-.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0Z" />
            <path d="M12 1a2 2 0 0 1 2 2 2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2 2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h10ZM2 12V5a2 2 0 0 1 2-2h9a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1Zm1-4v5a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V8H3Zm12-1V5a1 1 0 0 0-1-1H4a1 1 0 0 0-1 1v2h12Z" />
        </symbol>
        <symbol id="files" viewBox="0 0 16 16">
            <path d="M4.5 6a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1ZM6 6a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1Zm2-.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0Z" />
            <path d="M12 1a2 2 0 0 1 2 2 2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2 2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h10ZM2 12V5a2 2 0 0 1 2-2h9a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1Zm1-4v5a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V8H3Zm12-1V5a1 1 0 0 0-1-1H4a1 1 0 0 0-1 1v2h12Z" />
        </symbol>
        <symbol id="list" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M5 11.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zM3.854 2.146a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708L2 3.293l1.146-1.147a.5.5 0 0 1 .708 0zm0 4a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708L2 7.293l1.146-1.147a.5.5 0 0 1 .708 0zm0 4a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 0 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0z" />
        </symbol>
        <symbol id="form" viewBox="0 0 16 16">
            <path d="M0 3.5A1.5 1.5 0 0 1 1.5 2h13A1.5 1.5 0 0 1 16 3.5v8a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 11.5v-8zM1.5 3a.5.5 0 0 0-.5.5V7h4V3H1.5zM5 8H1v3.5a.5.5 0 0 0 .5.5H5V8zm1 0v4h4V8H6zm4-1V3H6v4h4zm1 1v4h3.5a.5.5 0 0 0 .5-.5V8h-4zm0-1h4V3.5a.5.5 0 0 0-.5-.5H11v4z" />
        </symbol>
        <symbol id="details" viewBox="0 0 16 16">
            <path d="M0 4.5A1.5 1.5 0 0 1 1.5 3h13A1.5 1.5 0 0 1 16 4.5V6a.5.5 0 0 1-.5.5 1.5 1.5 0 0 0 0 3 .5.5 0 0 1 .5.5v1.5a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 11.5V10a.5.5 0 0 1 .5-.5 1.5 1.5 0 1 0 0-3A.5.5 0 0 1 0 6V4.5Zm4 1a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 0-1h-7a.5.5 0 0 0-.5.5Zm0 5a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 0-1h-7a.5.5 0 0 0-.5.5ZM4 8a1 1 0 0 0 1 1h6a1 1 0 1 0 0-2H5a1 1 0 0 0-1 1Z" />
        </symbol>
    </svg>
    <header>
        <!-- // the following algorithm was written by Bootstrap
        // and came from https://getbootstrap.com/docs/5.0/components/navbar/
        // (Links to an external site.)-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="Index.html">SoC TA Portal<span class="navbar-text"></span></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="Index.html">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="ApplicationCreate.html">Application Create</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="ApplicationDetails.html">Application Details</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="ApplicationList.html">ApplicationList</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                TA Menu
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li>
                                    <a class="dropdown-item d-flex gap-2 align-items-center" href="Index.html">
                                        <svg class="bi" width="16" height="16"><use xlink:href="#home" /></svg>
                                        Home
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item d-flex gap-2 align-items-center" href="ApplicationList.html">
                                        <svg class="bi" width="16" height="16"><use xlink:href="#list" /></svg>
                                        Application List
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item d-flex gap-2 align-items-center" href="ApplicationDetails.html">
                                        <svg class="bi" width="16" height="16"><use xlink:href="#details" /></svg>
                                        Application Details
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item d-flex gap-2 align-items-center" href="ApplicationCreate.html">
                                        <svg class="bi" width="16" height="16"><use xlink:href="#form" /></svg>
                                        Aplication Form
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <!-- // the following algorithm was written by Amazon
                            // and came from https://www.amazon.com/
                            // (Links to an external site.)-->
                            <a href="fake.html" class="nav-a nav-a-2   nav-progressive-attribute" data-nav-ref="nav_ya_signin" data-nav-role="signin" data-ux-jq-mouseenter="true" id="nav-link-accountList" tabindex="0" data-csa-c-type="link" data-csa-c-slot-id="nav-link-accountList" data-csa-c-content-id="nav_ya_signin">
                                <div class="nav-line-1-container"><span id="nav-link-accountList-nav-line-1" class="nav-line-1 nav-progressive-content">Hello, Wenlin</span><span class="navbar-text"></span></div>
                                <span class="nav-line-2 ">
                                    Applicant<span class="navbar-text"></span>
                                </span>
                            </a>
                        </li>
                        <li class="col-md-3 text-end">
                            <button type="button" class="btn btn-outline-primary me-2">Logout<span class="navbar-text"></span></button>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <hr>

    <img class="taImage" src="TA.jpg" alt="TA application" width="500" height="300" />

    <section>
        <div id="paragraph">
            <div class="row">
                <h2 class="Become TA">
                    Applicants
                </h2>
                <p>* Applicants: 3</p>
                <p>* Employed TAs: 2</p>
            </div>
        </div>


    </section>


    <footer>
        <table class="table table-striped">
            <thead>
                <tr>
                    <!--Assignment1 work-->
                    <th>Notes</th>
                    <th>Prior Evals?</th>
                    <th>Applicant Name</th>
                    <th>Employed in</th>
                    <th>Degree being Puresued</th>
                    <th>Dept</th>
                    <th>UofU GPA</th>
                    <th>Last Modified</th>
                    <th>Details</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <!--Assignment1 work-->
                    <td>I perfer to be cs3500 TA</td>
                    <td>OKay</td>
                    <td>Xukun Cai</td>
                    <td>-unassigned-</td>
                    <td>Ph.D</td>
                    <td>CS</td>
                    <td>4.0</td>
                    <td>3-Aug-2022</td>
                    <td><button type="button" class="btn btn-primary mb-3" onclick="javascript:window.location.href='ApplicationDetails.html';">View</button></td>
                </tr>
                <tr>
                    <!--Assignment1 work-->
                    <td id="td row2">I perfer to be cs3505 TA </td>
                    <td>Good</td>
                    <td>Xia Li</td>
                    <td>-unassigned-</td>
                    <td>Ph.D</td>
                    <td>CS</td>
                    <td>4.0</td>
                    <td>1-Aug-2022</td>
                    <td><button type="button" class="btn btn-primary mb-3" onclick="javascript:window.location.href='ApplicationDetails.html';">View</button></td>
                </tr>
                <tr>
                    <!--Assignment1 work-->
                    <td>I perfer to be cs5530 TA</td>
                    <td>Good</td>
                    <td>Wenlin Li</td>
                    <td>-unassigned-</td>
                    <td>Ph.D</td>
                    <td>CS</td>
                    <td>4.0</td>
                    <td>4-Aug-2022</td>
                    <td><button type="button" class="btn btn-primary mb-3" onclick="javascript:window.location.href='ApplicationDetails.html';">View</button></td>
                </tr>
            </tbody>
        </table>

        <br />  <br />  <br />  <br />  <br />  <br />


    </footer>

</body>
</html>