<!--
  Author:    Xia Li
  Partner:   Wenlin Li
  Date:      09/27/2022
  Course:    CS 4540, University of Utah, School of Computing
  Copyright: CS 4540 and Xia Li and Wenlin Li - This work may not be copied for use in Academic Coursework.

  I, Wenlin Li and Xia Li, certify that I wrote this code from scratch and did not copy it in part or whole from
  another source.  Any references used in the completion of the assignment are cited in my README file.


  This html file is the Home page that shows users the basic info and best TA of the year.
-->
@{
    ViewData["Title"] = "Home Page";
}
        <!-- Marketing messaging and featurettes
        ================================================== -->
        <!-- Wrap the rest of the page in another container to center all the content. -->
        <div class="row">
            <div class="col-md-4">
                <h2>Make a Difference</h2>
                <p>Teaching Assistants and Mentees make a huge difference in the lives of students. Many of you are here applying to TA because you were inspired by a past TA. Maybe next year a student will choose to "pay it forward" because of your efforts. </p>
                <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
            </div>
            <div class="col-md-4">
                <h2>Apply now</h2>
                <p>click on the bottom below to start applying </p>
                <p><a class="btn btn-secondary" href="ApplicationCreate.html" role="button">Apply »</a></p>
            </div>
            <div class="col-md-4">
                <h2>Check the TA from past years!</h2>
                <p>
                    2020 - Ryan Howell <br>
                    2019 - Scott Butler<br>
                    Click the bottom for more info.
                </p>
                <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
            </div>
        </div>

        <hr class="head-divider">

        <div class="container marketing">

            <!-- Three columns of text below the carousel -->
            <!-- START THE FEATURETTES -->

            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading fw-normal lh-1">Best TA of the YEAR!! <span class="text-muted">Max LiMing Xue</span></h2>
                    <p class="lead">The most passion and patient TA you can ever meet with huge smile!<br> Congratulations to Max Xue, the Outstanding TA for the School of Computing for all academic year!</p>
                </div>
                <div class="col-md-5">
                    <img src="max.jpg" class="rounded float-right" alt="TA2 application" width="500" height="500">

                </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7 order-md-2">
                    <h2 class="featurette-heading fw-normal lh-1">Join the team, not only helping student <span class="text-muted">for yourself!</span></h2>
                    <p class="lead">Past TA gain a lot of knowledge and experience from TAing.</p>
                </div>
                <div class="col-md-5 order-md-1">
                    <img src="TA.jpg" class="rounded float-right" alt="TA2 application" width="500" height="400">
                </div>
            </div>

            <!-- /END THE FEATURETTES -->

        </div><!-- /.container -->
