<!--
  Author:    Xia Li
  Partner:   Wenlin Li
<<<<<<< Updated upstream:TAApplication/OLD/ApplicantList.cshtml
  Date:      09/22/2022
=======
  Date:      10/17/2022
>>>>>>> Stashed changes:TAApplication/Views/Home/ApplicantList.cshtml
  Course:    CS 4540, University of Utah, School of Computing
  Copyright: CS 4540 and Xia Li and Wenlin Li - This work may not be copied for use in Academic Coursework.

  I, Wenlin Li and Xia Li, certify that I wrote this code from scratch and did not copy it in part or whole from
  another source.  Any references used in the completion of the assignment are cited in my README file.


  This html file only control the Applicationlist pages elements, there are navbar linked to all other pages, a table and some text, pictures.
-->
<img class="taImage" src="~/TA.jpg" alt="TA application" width="500" height="300" />

    <section>
        <div id="paragraph">
            <div class="row">
                <h2 class="Become TA">
                    Applicants
                </h2>
                <p>* Applicants: 3</p>
                <p>* Employed TAs: 2</p>
            </div>
        </div>


    </section>
        <table class="table table-striped">
            <thead>
                <tr>
                    <!--Assignment1 work-->
                    <th>Notes</th>
                    <th>Prior Evals?</th>
                    <th>Applicant Name</th>
                    <th>Employed in</th>
                    <th>Degree being Puresued</th>
                    <th>Dept</th>
                    <th>UofU GPA</th>
                    <th>Last Modified</th>
                    <th>Details</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <!--Assignment1 work-->
                    <td>I perfer to be cs3500 TA</td>
                    <td>OKay</td>
                    <td>Xukun Cai</td>
                    <td>-unassigned-</td>
                    <td>Ph.D</td>
                    <td>CS</td>
                    <td>4.0</td>
                    <td>3-Aug-2022</td>
                    <td><button type="button" class="btn btn-primary mb-3" onclick="javascript:window.location.href='ApplicantDetails';">View</button></td>
                </tr>
                <tr>
                    <!--Assignment1 work-->
                    <td id="td row2">I perfer to be cs3505 TA </td>
                    <td>Good</td>
                    <td>Xia Li</td>
                    <td>-unassigned-</td>
                    <td>Ph.D</td>
                    <td>CS</td>
                    <td>4.0</td>
                    <td>1-Aug-2022</td>
            <td><button type="button" class="btn btn-primary mb-3" onclick="javascript:window.location.href='ApplicantDetails';">View</button></td>
                </tr>
                <tr>
                    <!--Assignment1 work-->
                    <td>I perfer to be cs5530 TA</td>
                    <td>Good</td>
                    <td>Wenlin Li</td>
                    <td>-unassigned-</td>
                    <td>Ph.D</td>
                    <td>CS</td>
                    <td>4.0</td>
                    <td>4-Aug-2022</td>
                    <td><button type="button" class="btn btn-primary mb-3" onclick="javascript:window.location.href='ApplicantDetails';">View</button></td>
                </tr>
            </tbody>
        </table>

        <br />  <br />  <br />  <br />  <br />  <br />