<!--
  Author:    Xia Li
  Partner:   Wenlin Li
  Date:      09/22/2022
  Course:    CS 4540, University of Utah, School of Computing
  Copyright: CS 4540 and Xia Li and Wenlin Li - This work may not be copied for use in Academic Coursework.

  I, Wenlin Li and Xia Li, certify that I wrote this code from scratch and did not copy it in part or whole from
  another source.  Any references used in the completion of the assignment are cited in my README file.


  This html file help user create the application.
  This html file only control the Applicationlist pages elements, there are navbar linked to all other pages, a table and some text, pictures.
-->
 
    <div class="bd-example-snippet">
        <div class="bd-example">
            <p class="h1">Application for Robert Li</p>
            <br />
            <p class="h2">Unid:u1212360 </p>
            <br />
            <p class="h2">Currently Robert is unassigned </p>
            <br />
            <p class="h2">GPA:4.0 </p>
            <br />
            <p class="h2">Past Experience: A little!! </p>
            <br />
            <p class="h2">Past Course: CS 2420, CS 1410, CS 3505, CS 3500 </p>


        </div>
    </div>